/* Body */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    }

/* cise */
#c {
    font-size:160%;
	font-weight:bold;
    }
#ise {
    font-size:60%;
    }
    
/* Main image */
#main {
    background-image:url("/images/main.jpg");
    background-position:right;
    padding-bottom:0px;
    margin-bottom:0px;
    }
    
/* Fixed navbar */
#navbar-top {
    margin-bottom:0px;
    background-color:#333;
    z-index:100;
    }
    
/* Navbar buttons */
#nav-buttons {
    margin: auto;
    width: auto;
    text-align:center;
    background-color:#111;
    /* For internet explorer */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
    }

#nav-buttons a {
    filter:alpha(opacity=80);
    /* CSS3 standard */
    opacity:0.8;
    color:#fff;
    background-color:#333;
    font-color:#fff;
    }        
/* spotlights */
#myCarousel {
    border:2px solid;
    box-shadow: 10px 10px 5px #888888;
    overflow:hidden;
    }
  
#myCarousel .carousel-caption {
    background-color:transparent;
    }

#myCarousel .carousel-caption:hover {
    /* CSS3 standard */
    color:#000;
    background-color:#ddd;
    /* For internet explorer */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
    }
        
.main-title {
    display:inline-block;
    vertical-align:middle !important;
    }

/* NCR Exam */
#ncre-main {
    padding-left:0px;
    padding-right:0px;
    background-color:#c1cce2;
    }
    
#ncre-main .row {
    width:100%;
    /* For internet explorer */
    filter:alpha(opacity=1);
    /* CSS3 standard */
    opacity:1;
    }
    
.ncre-item {
    margin-bottom:0px !important;
    padding:5px !important;
	border-radius:0px !important;
    }
/* footer */    

#main-footer {
    background-image:url("/images/4.4.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    padding-top:40px;
    }

#main-footer p {
    margin-bottom:5px;
    }

/* links footer */

#links {
    padding-top:15px;
    padding-bottom:15px;
    }

/* media query */
.main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .main-container {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .main-container {
    width: 725px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 900px;
  }
@media (min-width: 1600px) {
  .main-container {
    width: 1200px;
  }
}

