/* Body */
body {
    font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color:#fff;
    }3,
h1,h2,h3,h4 {
    font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* csie */
#c {
    font-size:160%;
	font-weight:bold;
    }
#sie {
    font-size:60%;
    }

/* Main image */
#main {
    background-image:url("../images/main.jpg");
    background-position:right;
    padding-bottom:0px;
    margin-bottom:0px;
    }

/* Fixed navbar */
#navbar-top {
    margin-bottom:0px;
    background-color:#333;
    z-index:100;
    height:40px;
    line-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    }

#navbar-top a {
    height:40px !important;
    }
#navbar-top a {
    height:100% !important;
}

/* Navbar buttons */
#nav-buttons {
    margin: auto;
    width: auto;
    text-align:center;
    background-color:#111;
    /* For internet explorer */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
    }

#nav-buttons .dropdown-menu {
    z-index: 1000;
    margin-top:10px;
    background-color: #111;
}
#nav-buttons .dropdown-menu li {
    display: inline-block;
}
#nav-buttons .dropdown-menu a {
    background-color:#111;
    color: #fff;
    filter:alpha(opacity=100) !important;
    opacity:1 !important;
}
#nav-buttons a {
    filter:alpha(opacity=80);
    opacity:0.8;
    color:#fff;
    background-color:#111;
    font-color:#fff;
    }

/* social links */
#social {
    position: fixed;
    top:60px;
    right:0px;
    z-index: 1000;
}
#social img {
    display: block;
    width: 40px;
}
/* spotlights */
#spotlights {
    background-color:#fff;
    }

#myCarousel {
    border:2px solid;
    box-shadow: 10px 10px 5px #888888;
    overflow:hidden;
    }

#myCarousel .carousel-caption {
    background-color:transparent;
    }

#myCarousel .carousel-caption:hover {
    /* CSS3 standard */
    color:#000;
    background-color:#ddd;
    /* For internet explorer */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
    }
. carousel-caption {
    font-family:"黑体","Microsoft Yahei",sans-serif;
    }
.carousel-caption h3 {
    color:red;
    font-size:180%;
    }
.main-title {
    display:inline-block;
    vertical-align:middle !important;
    }

/* messages */

.first {
    text-transform:uppercase;
    width: auto !important;
    font-size: 60%;
    padding: 0px 5px 0px 5px;
    color:#fff;
}
.first:first-letter {
    font-size: 200%;
    font-weight:700;
}
.panel-footer .time {
    color:#fff;
    background-color:rgba(255,255,255,0.1);
    padding:10px 5px 10px 5px;
}
li .time {
    color:rgb(0,72,105);
    }
    
.time span {
    display: block;
    font-style: oblique;
    font-family:serif; 
    font-size:120%;
    font-weight:bold;
    text-align: center;
}

.time .date {
    font-size: 130%;
}

#messages {
    background-color:rgb(21, 86, 176);
    padding-left: 0px;
    padding-right:0px;
    margin-bottom:10px;
    color:#fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
#messages .nav-pills {
    margin-bottom: 0px;
}
#messages .nav-pills > li  {
    font-weight: bold;
}
#messages .nav-pills > li > a {
    border-radius: 0px;
}
#messages .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:rgb(3, 169, 244);
}

#messages .nav-pills > li >a:hover {
    background-color:rgba(3, 169, 244,0.7) ;
}
#messages .nav-pills > li >a, a:focus {
    color:#fff;
}
#myTabContent{
    padding: 10px;
    background-color:rgb(3, 169, 244);
}
#myTabContent li  {
    line-height:20px;
    padding-left: 20px;
    margin:5px;
}
#myTabContent span {
    display:inline-block;
    position: relative;
    float: right;
    margin-right: 50px;
}
#messages-alter {
    display: table;
    margin-bottom:10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    width: 100%;
}
#message-nav {
    display: table-row;
    vertical-align: middle;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(3, 169, 244);
}
#message-nav  li {
    width:160px;
    display: table-cell;
    font-size: 20px;
    text-align: center;
}
#message-nav  li [aria-expanded=true]{
    color:#333 !important;
}
#message-nav li [aria-expanded=false]{
    color:#fff !important;
}
#message-nav  li.active {
    display: table-cell;
    color:#333 !important ;
    background-color: #eee;
    font-size: 20px;
    transition:width 0.5s;
}
#message-nav li a {
    padding:10px;
    font-size: 130%;
    font-weight:400;
}
#myTabContent-alter {
    padding: 10px;
    background-color:#fff;
    width:100%
}
#myTabContent-alter ul {
    list-style-type: none;
    padding-left: 0px;
}
#myTabContent-alter li  {
    font-size: 80%
    line-height:20px;
    margin:5px;
    padding-left: 0px;
}
#myTabContent-alter .time {
    display: inline-block;
    width：15%;
}
#myTabContent-alter .title {
    display: inline-block;
    width：85%;
}
#myTabContent-alter span {
    display:block;
    position: relative;
    padding-right: 5px;
}
#message-nav span a{
    padding:10px;
    font-size:160%;
    color: #fff;
    float: right;
    vertical-align: bottom;
}
#message-nav span a:hover{
    color:#eee;
    text-decoration-line: none;
}

#middle .col-md-7 ,#middle .col-md-5{
    padding:0px 25px 0px 25px;
}
#middle .col-md-7 {
    padding-left:0px;
}
#middle .col-md-5 {
    padding-right:0px;
}
#sidebar-image {
    padding: -15px;
    overflow: visible;
}
/* sidebar */
#sidebar a {
    color: #fff;
}
#sidebar a:hover{
    color: #eee;
}
#sidebar ul  {
    padding-left: 15px;
}
#sidebar .panel-title , #sidebar .panel-footer {
    font-size:160%;
    vertical-align: bottom;
    line-height: 35px;
}
#sidebar li  {
    line-height:25px;
    padding-left: 10px;
    margin:5px;
}
#sidebar span {
    display:inline-block;
    position: relative;
    float: right;
    vertical-align: middle;
}
#sidebar a {
    color: #fff;
    font-size:105%;
    float: right;
    vertical-align: bottom;
}
#sidebar a:hover {
    color: #eee;
    text-decoration:none;
}
#sidebar hr {
    padding:4px;
    margin:0px;
    }
/* NCR Exam */
#ncre-main {
    margin-top:40px;
    padding:10px;
    background-color:rgba(212, 219, 235, 0.5);
    font-size: 110%;
    }

.ncre-item {
    margin-bottom:0px !important;
    padding:5px !important;
	  border-radius:0px !important;
    box-shadow: 0px 0px #fff !important;
    background-color: transparent !important;
    color:#000 !important;
    font-family: "黑体",sans-serif;
    }

/* footer */
footer hr {
    margin-top:5px;
    margin-bottom:5px;
}
#main-footer {
    background-image:url("../images/4.4.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    }

#main-footer p {
    margin-bottom:5px;
    }

/* links footer */
#foot-footer {
    width:100%;
    background-color:rgba(21, 86, 176, 0.8);
    }

#links {
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    }

#links a {
    color:#eee;
    padding:4px;
    }
#links a:hover {
    padding:2px;
    background-color: #333;
    color:#fff;
    border-style: solid;
    border-color: #333;
    border-radius: 2px;
    text-decoration: none;
    }
#links ul {
    line-height: 180%;
}
#links #mid:before {
  top: 0px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #ffffff;
  left: 0%;
  margin-left: 3px;
}
#links #mid:after {
  top: 0px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #ffffff;
  left: 100%;
  margin-right: 3px;
}
/* media query */
.main-container {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .main-container {
    width:90%;
}
.timeline li .alert {
  margin-top:5px;
}
}
@media (min-width: 768px) {
  .main-container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .main-container {
    width: 748px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 792px;
  }
  #navbar-top {
    position: absolute;
    top:-10px;
  }
@media (min-width: 1600px) {
  .main-container {
    width: 1200px;
  }
  .container {
      width:1400px;
  }
}
